{% extends 'mailing_service/base.html' %}
{% load static %}
{% block content %}
    <div class="mx-auto p-2 mt-5">
        <h1 class="text-center">Mailing Service - сервис рассылок</h1>
        <img class="rounded mx-auto d-block index-logo mt-3 mb-3" src="{% static 'images/banners/mailing.jpg' %}"
             alt="">
        <div class="index-text col-6 mx-auto">
            <p>Сервис рассылок - позволяет создавать и управлять рассылками писем по заданным критериям для выбранных
                адресатов.</p>
            {% if user.is_authenticated %}

                <h2 class="pb-2 border-bottom">Краткая информация:</h2>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Количество рассылок всего:
                        <span class="badge bg-primary rounded-pill">{{ total_mailings }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Количество активных рассылок:
                        <span class="badge bg-primary rounded-pill">{{ total_activity_mailings }}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Количество уникальных клиентов:
                        <span class="badge bg-primary rounded-pill">{{ total_clients }}</span>
                    </li>
                </ul>

            {% else %}

                <p>
                    В данном сервисе реализованн следующий функционал:
                <ul style="text-align: left">
                    <li>Создание адресатов рассылки</li>
                    <li>Создание писем для рассылки</li>
                    <li>Настройка времени и периодичности рассылки</li>
                    <li>Возможность создания отложенной рассылки</li>
                    <li>Логирование всех прошедших рассылок</li>
                </ul>
                </p>

                <p>Для полноценной работы сервиса вам необходимо зарегистрироваться либо авторизоваться под
                    вашим аккаунтом.</p>
                </div>
                <div class="row">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="{% url 'users:login' %}" class="btn btn-success btn-lg">Войти</a>
                        <a href="{% url 'users:register' %}" class="btn btn-primary btn-lg">Зарегистрироваться</a>
                    </div>
                </div>
            {% endif %}
    </div>
{% endblock %}